$prefixClsApp: #{$prefix}layout;
$prefixClsHeader: #{$prefix}header;
$prefixClsContent: #{$prefix}content;
$prefixClsFooter: #{$prefix}footer;

.#{$prefixClsApp}{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.#{$prefixClsContent}{
  height: 100%;
}

.#{$prefixClsFooter}{
  flex-shrink: 0;
}